body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    // margin: 50px 200px;
    max-width: 1200px;
    padding: 10px;
    margin: 50px auto;
    display: flex;
    justify-content: space-between;
}

.img-wrapper {
    margin-bottom: 40px; 
    height: 200px;

    img {
        height: 100%;
        cursor: pointer;

        &:hover {
            transform: scale(1.1);
        }
    }
}

.computer-choice {
    align-self: center;
}

.computer-choice-img-wrapper {
    margin-bottom: 40px; 
    height: 200px; 
    
    img {
        height: 100%;
        padding: 20px;
        border: 3px solid rgb(146, 146, 146);
    }
}
